src/main/resources/xsd/config.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xml="http://www.w3.org/XML/1998/namespace"
	elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">

	<xsd:element name="config">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="schedulers">	
					<xsd:complexType>						
						<xsd:sequence>
							<xsd:element name="stopAllSchedulers" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>						
						</xsd:sequence>
					</xsd:complexType>				
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>	
	
</xsd:schema>